body {
    background-color: darkgray;
}

header {
    text-align: center;
    background-color: dimgray;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: -6px 10px 10px 26px #dabe2e;
}

.topbar {
    height: 50px;
    background-color: dimgrey;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 15px #dabe2e;
}

.topbar ul {
    list-style-type: none;
    padding: 4px;
}

.topbar li {
    float: left;
    width: 23%;
    background-color: #3db0d0;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 20px;
    height: 70px;
}

.topbar li a {
    height: 30px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 1px 1px 1px 1px;
    margin-top: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
}

.topbar li:hover {
    background-color: burlywood;
}

.contenido {
    display: flex;
    margin-top: 30px;
}

figure {
    margin: 30px 10px 20px 20px;
}

img {
    width: 100%;
    height: 380px;
    border-radius: 5px;
    margin: 0px;
    box-shadow: 0px 0px 0px 4px #dabe2e;
    box-sizing: border-box
}

img:hover {
    border: 2px solid black;
    filter: grayscale(80%);
}

header h1 {
    margin-top: 10px;
}

.sidebar {
    width: 11%;
    float: left;
    text-align: center;
    padding: 2px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    width: 100%;
    height: 100px;
    background-color: dimgrey;
}

.sidebar a {
    height: 40px;
    display: block;
    width: 100%;
    border: 1px solid black;
    margin: 0;
    padding: 27px 10px 10px 10px;
    background-color: lightcyan;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: burlywood;
}

.contenedor {
    width: 100%;
    display: flex;
    margin-left: 40px;
}

.footer {
    text-align: center;
    background-color: dimgray;
}

@media only screen and (max-width: 768px) {
    img {
        width: 80%;
        height: 150px;
    }
    .contenedor {
        width: 100%;
        display: block;
    }
}

@media only screen and (max-width: 1024px) {
    img {
        width: 80%;
        height: 400px;
    }
    .contenedor {
        width: 100%;
        display: block;
    }
}