* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.marco {
    display: grid;
    grid-template-columns: 250px repeat(3, 1fr);
    grid-template-rows: 150px 40px auto 40px;
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
}

.encabezado {
    background-color: rgb(55, 146, 146, 0.5);
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    text-align: center;
}

.migas {
    background-color: rgb(55, 146, 146, 0.5);
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    padding: 10px;
    font-style: italic;
    color: black;
    font-size: 1.1em;
}

.topbar {
    background-color: rgb(55, 146, 146, 0.5);
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    text-align: center;
    border-radius: 5px;
    position: sticky;
}

.topbar ul {
    list-style-type: none;
    padding: 4px;
}

.topbar li {
    float: left;
    width: 23%;
    background-color: #3db0d0;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 20px;
    height: 70px;
}

.topbar li a {
    height: 30px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 1px 1px 1px 1px;
    margin-top: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
}

.topbar li:hover {
    background-color: rgb(2, 110, 250);
}

.contenido {
    background-color: rgb(55, 146, 146, 0.5);
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    overflow: scroll;
    padding: 20px;
    display: inline-block;
    margin-top: 40px;
}

.footer {
    background-color: rgb(55, 146, 146, 0.5);
    grid-column: 1 / span 4;
    grid-row: 4 / span 1;
    margin: 20px;
    font-weight: bold;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

figure {
    /* margin: 30px 10px 20px 20px; */
    float: left;
    width: 29%;
    z-index: 999;
    margin-left: 60px;
}

img {
    width: 100%;
    max-height: 333px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(228, 157, 6, 0.8);
}

img:hover {
    border: 2px solid black;
    filter: grayscale(80%);
}

figcaption,
.img-footer {
    font-style: italic;
    color: black;
    font-size: 1.1em;
    text-align: center;
    margin: 10px 0px;
}

figcaption {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 64px;
    background-color: rgba(218, 190, 46, 0.5);
    text-align: center;
    height: 50px;
    border-radius: 5px;
    width: 100%;
}

figcaption p {
    margin: 0;
    position: relative;
    top: 14px;
}

.titulo {
    position: relative;
    top: 20px;
}

.parrafo {
    margin: 20px;
    background-color: #dabe2e;
    font-weight: bold;
    box-shadow: 3px 2px 5px 4px dimgrey;
    padding: 4px;
    border-radius: 5px;
    display: inline-block;
}

.parrafo h3::first-letter {
    font-size: 40px;
}

.parrafo p {
    padding-left: 7px;
}

@media only screen and (max-width: 768px) {
    figure {
        width: 100%;
    }
    img {
        width: 80%;
    }
    .contenedor {
        width: 100%;
        display: block;
    }
    .topbar li {
        width: 20%;
    }
}

@media only screen and (max-width: 1024px) {
    figure {
        width: 100%;
    }
    img {
        width: 80%;
    }
    .contenido {
        grid-column: 1 / span 4;
        display: grid;
        text-align: center;
    }
    .lado {
        width: 0%;
    }
    .topbar li {
        width: 20%;
    }
}

#boton {
    float: right;
}

.noche {
    color: white;
    background-color: dimgrey;
}