button a{
    color: black;
    text-decoration: none;
}
button a:hover{

    color:rgb(255, 255, 255);
}
.card img:hover {

    
        transform:scale(1);
        -ms-transform:scale(1); 
        -moz-transform:scale(1);
        -webkit-transform:scale(1);  
        -o-transform:scale(1); 
    


}
